body {
	background-color: #25666B;
}
section {
	position: relative;
	left: 2%;
	margin: 0 auto;
	height: 16%;
	width: 70%;
	border: double black;
	background-color: #3D7A58;
	overflow: hidden;
}

.seat {
	left: 3%;
	top: 8%;
	width: 12.5%;
	height: 80%;
	border: 1px solid black;
	display: inline-block;
	background-color: #115511;
}
.goldenCircle {
	border: solid #FFD700 1px;
}

#thankYou {
	display: none;
}
#seatIsReserved {
	display: none;
}
#formContainer {
	display: none;
	text-align: center;
}
#forName {
	display: block;
	margin-bottom: 5px;
}
#forEmail {
	display: block;
	margin-bottom: 5px;
}

@media(min-width: 190px) {
	.seat {
		position: relative;
		margin: 0 .4% 0 .1%;
	}
}
@media(min-width: 340px) {
	.seat {
		position: relative;
		margin: 0 .7% 0 .3%;
	}
}
@media(min-width: 427px) {
	.seat {
		position: relative;
		margin: 0 1% 0 .5%;
	}
}
@media(min-width: 580px) {
	.seat {
		position: relative;
		margin: 0 1.2% 0 .6%;
	}
}
@media(min-width: 969px) {
	.seat {
		position: relative;
		margin: 0 1.4% 0 .9%;
	}
}
@media(min-width: 1200px) {
	.seat {
		position: relative;
		margin: 0 1.5% 0 1%;
	}
}


