body {
	background-color: black;
}



header{
	background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSzkxHQ-0SHXdG_zjPMY51hvEQkY-eUCyh9dN8otMQpcErCqI3arQ);

	background-repeat: no-repeat;
	opacity: 70%;
	background-size: 100%;
	height: 30%;
	width: 100%;
	background-color: #115511;
	margin: 5px 5px 5px 5px;


}

h1{
	text-align: center;
	font-size: 5em;
}
p{
text-align: center;
font-size: 1em;

}
section {
	position: relative;
	left: 2%;
	margin: 0 auto;
	height: 16%;
	width: 70%;
	border: double black;
	background-color: #3D7A58;
	overflow: hidden;
}

.seat {
	left: 3%;
	top: 8%;
	width: 12.5%;
	height: 80%;
	border: 1px solid black;
	display: inline-block;
	background-color: #216B1B;
}
.goldenCircle {
	border: solid #FFD700 1px;
}

#thankYou {
	display: block;
	width: 70%;
	height: 150px;
	margin: 10px auto 0 auto;
	border: 0;
	background-image: url(images/stage.jpg);
	background-position: center;
	background-size: 100%;
	font-family: arial, sans-serif;
	text-align: center;
}
#thankYou h2 {
	margin-top: 35px;
	color: #FFFFFF;
	text-align: center;
}

button {
	font-family: Helvetica;
	background-color:;
	color: red;
	font-size: 13px;
	margin: 3px;
}


button:hover {}


#seatIsReserved {
	display: none;
}
#reserveForm {
	display: block;
	text-align: center;
	font-family: Helvetica;
}
#forName {
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
}
#forEmail {
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
}

#inputReserve:hover {
	color: blue;

}

#inputReserve:active {
	color: pink;
}

@media(min-width: 190px) {
	.seat {
		position: relative;
		margin: 0 .4% 0 .1%;
	}
}
@media(min-width: 340px) {
	.seat {
		position: relative;
		margin: 0 .7% 0 .3%;
	}
}
@media(min-width: 427px) {
	.seat {
		position: relative;
		margin: 0 1% 0 .5%;
	}
}
@media(min-width: 580px) {
	.seat {
		position: relative;
		margin: 0 1.2% 0 .6%;
	}
}
@media(min-width: 969px) {
	.seat {
		position: relative;
		margin: 0 1.4% 0 .9%;
	}
}
@media(min-width: 1200px) {
	.seat {
		position: relative;
		margin: 0 1.5% 0 1%;
	}

}
