body {
	background-color: black;
}
header {
	position: relative;
	left: 16.5%;
	background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSzkxHQ-0SHXdG_zjPMY51hvEQkY-eUCyh9dN8otMQpcErCqI3arQ);
	background-repeat: no-repeat;
	opacity: 70%;
	background-size: 100%;
	height: 30%;
	width: 70%;
	background-color: #115511;
	margin: 5px 5px 5px 5px;
	font-family: helvetica;
}

#seating{
	position: absolute;
	top:100%;
	bottom: 2%;
	height: 5%;
	width:5%;
	background-color: black;
}
section {
	position: relative;
	left: 2%;
	margin: 0 auto;
	height: 16%;
	width: 70%;
	border: double black;
	background-color: #3D7A58;
	overflow: hidden;
}
h1 {
	text-align: center;
	font-size: 5em;
	font-family: Damion;
}
h2 {
	margin-top: 35px;
	color: #FFFFFF;
	text-align: center;
}
button {
	font-family: "Damion";
	background-color: #F2DCA0;
	color: #40071C;
	font-size: 13px;
	font-style: bold;
	margin: 2px;
	border-radius: 17%;
}

button:hover {
	background-color: #F2AFA0;
	color: #660B2E;
}

.seat {
	position: relative;
	left: 3%;
	top: 8%;
	width: 12.5%;
	height: 80%;
	border: 1px solid black;
	display: inline-block;
	background-color: #216B1B;
}
.goldenCircle {
	border: solid #FFD700 1px;
}
.reservedMessage {
	text-align: center;
	font-size: 1.3em;
}

#headp {
	text-align: center;
	font-size: 1em;
}
#thankYou {
	display: none;
	width: 70%;
	height: 150px;
	margin: 10px auto 0 auto;
	border: 0;
	background-color: black;
	background-image: url(images/stage.jpg);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: arial, sans-serif;
	text-align: center;
	background-color: black;
	background-repeat: no-repeat;
}
#reserveForm {
	display: block;
	text-align: center;
	font-family: Helvetica;
}
#seatIsReserved {
	position: fixed;
	display: none;
	top: 20%;
	left: 31.25%;
	width: 40%;
	margin: 0 auto;
	padding: 3px;
	border: 0;
	font-family: arial, sans-serif;
	text-align: center;
	background-color: #AAAAAA
}
#forName, #forEmail {
	display: block;
	margin: 1px;
	font-size: 12px;
}

@media(min-width: 190px) {
	.seat {
		margin: 0 .4% 0 .1%;
	}
	#seatIsReserved {
		height: 25%;
	}
	.reservedMessage {
		margin-top: 0;
	}
}
@media(min-width: 310px) {
	#seatIsReserved {
		height: 22%;
	}
}
@media(min-width: 390px) {
	.seat {
		margin: 0 .7% 0 .3%;
	}
	#seatIsReserved {
		height: 17%;
	}
}
@media(min-width: 427px) {
	.seat {
		margin: 0 1% 0 .5%;
	}
	#seatIsReserved {
		height: 15%;
	}
}
@media(min-width: 580px) {
	.seat {
		margin: 0 1.2% 0 .6%;
	}
	#seatIsReserved {
		height: 12%;
	}
	.reservedMessage {
		margin-top: 10px;
	}
}
@media(min-width: 969px) {
	.seat {
		margin: 0 1.4% 0 .9%;
	}
	#seatIsReserved {
		height: 10%;
	}
	.reservedMessage {
		margin-top: 10px;
	}
}
@media(min-width: 1200px) {
	.seat {
		margin: 0 1.5% 0 1%;
	}
	.reservedMessage {
		margin-top: 16px;
	}

}
